.login-container {
  min-height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.login-image {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(../assets/conta_image.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: auto;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.image-overlay h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.image-overlay p {
  font-size: 2.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 20% 20% 20% 20%;
}

@media (max-width: 991px) and (min-width: 769px) {
  .login-form {
    padding: 10vh 10vh 10vh 10vh;
  }
}

@media (max-width: 768px) {
  .login-form {
    padding: 5vh 5vh 5vh 5vh;
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .login-form .g-recaptcha {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
}

@media (max-width: 576px) {
  .login-form {
    padding: 2vh 2vh 2vh 2vh;
  }
  .login-form .form-control {
    font-size: 16px;
  }
  .login-form .btn {
    font-size: 16px;
  }
}

.navbar .nav-link.active {
  color: #007bff !important;
  font-weight: 600;
  border-bottom: 2px solid #007bff; 
}


