.notfound-container {
  background: linear-gradient(180deg, #f8f9fa 0%, #e9ecef 100%);
  color: #333;
}

.notfound-container h1 {
  font-size: 6rem;
  letter-spacing: 2px;
}

.notfound-container button:hover {
  background-color: #0d6efd;
  color: white;
  transition: 0.3s ease;
}

.notfound-container button {
  background-color: transparent;
  border: 2px solid #0d6efd;
  color: #0d6efd;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}